[submodule "vendor/winery"]
	path = vendor/winery
	url = https://github.com/eclipse/winery
[submodule "website"]
	path = website
	url = https://github.com/CloudCannon/hydra-jekyll-template
[submodule "vendor/tosca-definitions-common"]
	path = vendor/base-repos/tosca-definitions-common
	url = https://github.com/OpenTOSCA/tosca-definitions-common
