@use "sass:color";
$enable-rfs: false;
@import "bootstrap";

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "bootstrap-icons";


:root {
  --app-card-bg: rgba(255,255,255,0.7);
  --default-button-height: 120px;
}

button, input, a[href] {
  -webkit-app-region: no-drag;
}
